apiVersion: v1
kind: Service
metadata:
  name: broker
  namespace: pact
spec:
  selector:
    app: broker
  type: ClusterIP
  ports:
    - name: http
      port: 80
      protocol: TCP
      targetPort: http
