# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b

  verify-terraform-infrastructure:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b
    with:
      directory: infrastructure
  release-terraform-infrastructure:
    needs: verify-terraform-infrastructure
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b
    with:
      directory: infrastructure
      workspace: prod

  # TODO: Verify `gitops-argo-cd` manifests.
  # TODO: Verify skaffold file
  release-skaffold-argo-cd:
    needs: release-terraform-infrastructure
    uses: harmelodic/workflows/.github/workflows/release-skaffold.yaml@c745fcf2958b0d5fbae77f61d9bdf7afd430ff98
    with:
      gcp-project-id: personal-prod-apps-72077
      gke-cluster-location: europe-north1-b
      gke-cluster-name: apps
      skaffold-file: skaffold-argo-cd.yaml

# TODO: Verify `manifests` manifests - though it won't matter much, since Argo CD will deploy them anyway - more for awareness.
# No need to release manifests, as they are continually deployed by Argo CD.
