# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@dbf241b1ce64ae49b3393f9560e9e6a4c524fd1d

  verify-terraform-infrastructure:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@dbf241b1ce64ae49b3393f9560e9e6a4c524fd1d
    with:
      directory: infrastructure
  release-terraform-infrastructure:
    needs: verify-terraform-infrastructure
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@dbf241b1ce64ae49b3393f9560e9e6a4c524fd1d
    with:
      directory: infrastructure
      workspace: prod

  # TODO: Verify `gitops-argo-cd` manifests.
  # TODO: Verify skaffold file
  release-skaffold-argo-cd:
    needs: release-terraform-infrastructure
    uses: harmelodic/workflows/.github/workflows/release-skaffold.yaml@dbf241b1ce64ae49b3393f9560e9e6a4c524fd1d
    with:
      gcp-project-id: personal-prod-apps-72077
      gke-cluster-location: europe-north1-b
      gke-cluster-name: apps
      skaffold-file: skaffold-argo-cd.yaml

# TODO: Verify `manifests` kustomization files - though it won't matter much, since Argo CD will deploy them anyway - more for awareness
# TODO: Verify rendered `manifests` manifests - though it won't matter much, since Argo CD will deploy them anyway - more for awareness.
# No need to release manifests, as they are continually deployed by Argo CD.
