# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

# First release `base`, then `bootstrap`
jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b

  verify-terraform-base:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b
    with:
      directory: base
  release-terraform-base:
    needs: verify-terraform-base
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b
    with:
      directory: base
      workspace: prod

  verify-terraform-bootstrap:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b
    with:
      directory: bootstrap
  release-terraform-bootstrap:
    needs:
      - release-terraform-base
      - verify-terraform-bootstrap
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@6ff29d6786e912eb3f89292d401be69e7d3b1f3b
    with:
      directory: bootstrap
      workspace: prod
