# $schema: http://json.schemastore.org/github-workflow.json
name: main

on:
  push:
    branches:
      - main
  workflow_dispatch: {}

# First release `base`, then `bootstrap`
jobs:
  verify-github-workflows:
    uses: harmelodic/workflows/.github/workflows/verify-github-workflows.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616

  verify-terraform-base:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616
    with:
      directory: base
  release-terraform-base:
    needs: verify-terraform-base
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616
    with:
      directory: base
      workspace: prod

  verify-terraform-bootstrap:
    uses: harmelodic/workflows/.github/workflows/verify-terraform.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616
    with:
      directory: bootstrap
  release-terraform-bootstrap:
    needs:
      - release-terraform-base
      - verify-terraform-bootstrap
    uses: harmelodic/workflows/.github/workflows/release-terraform.yaml@ec7c612da71abf16c3e9ce28fe239b9e0089d616
    with:
      directory: bootstrap
      workspace: prod
